html {
	height: 100%;
}
body {
	font-family: 'Lato', sans-serif;
	background-color: #F5F5F5;
	max-width: 980px;
	margin: 0 auto;
	box-sizing: border-box;
	height: 100%;
}

header h1 {
	text-align: center;
	font-size: 3em;
	padding: 0.5em;
	color: #F6F5F0;
	font-weight: 600;
	background-color: #211F34;
}

main {
	text-align: center;
	background-color: #AFF2D1;
	padding-bottom: 48px; /*score-size*/
	min-height: calc(100% - 96px - 4em);
}

.banner {
	background-color: #211F34;
	color: #F6F5F0;
	display: block;
	width: 100%;
	position: fixed;
	bottom: 0;
	max-width: 980px;
}

.banner dt, .banner dd {
	display: inline-block;
	margin-right: 1em;
	vertical-align: middle;
}

.score {
	font-size: 2em;
}

.cards {
	height: 700px;
	width: 750px;
	position: relative;
	display: inline-block;
	overflow: hidden;
}

.card {
	width: 146px;
	height: 146px;
	margin: 30.24px;
	position: absolute;
	outline: none;

	perspective: 1000px;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;

	list-style-type: none;

	transition: 1s ease-in-out;
}

.hideCard {
	display: none;
}

.super-star {
	animation-name: gira;
	animation-timing-function: ease-in-out;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	width: 100%;
	height: 100%;
	position: absolute;
	text-align: center;
	transform: rotate(26deg);
	display: inline-block;
	background-color: inherit;
	background-color: #FF723D;
	left: 0;
	top: 0;
	z-index: -1;
}

.super-star::before {
	content: "";
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: inherit;
	transform: rotate(135deg);
	display: block;
}

.click-label {
	position: absolute;
	top: 0;
	left: 0;
	text-indent: -9999px;
	width: 100%;
	height: 100%;
	z-index: 1;
}

@keyframes gira {
	0% {
		transform: rotate(0deg);
		background-color: #ea4f4f;
	}
	25% {
		transform: rotate(90deg);
		background-color: pink;
	}
	50% {
		transform: rotate(180deg);
		background-color: orange;
	}
	75% {
		transform: rotate(270deg);
		background-color: #f1e686;
	}
	100% {
		transform: rotate(360deg);
		background-color: lightgreen;
	}	
}

input[type=checkbox] {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

input[type=checkbox]:focus + .click-label {
	box-shadow: 0 0 2px 3.5px #83bffc;
	border-radius: 2px;
}

.picture {
	position: relative;
	background-color: orange;

	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	transition: 0.5s;

	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);

	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	height: 100%;
	width: 100%;
}
input[type=checkbox]:checked ~ .super-star{
	animation: none;
}

input[type=checkbox]:checked ~ .picture {
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

input[type=checkbox] ~ .picture::after {
	background-color: #F98C8F;
	content: '';
	left: 0;
	height: 100%;
	position: absolute;
	top: 0;

	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);

	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	width: 100%;
	height: 100%;
}